body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/*Hero section*/
.hero{
    background-image: url(images/torshovjpeg.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.hero-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#title{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #1D3557;
    border-radius: 15px;
    padding: 10px 22px;
    text-align: center;
    margin-bottom: 5px;
}
#description{
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #457B9D;
    border-radius: 15px;
    padding: 12px 40px;
    text-align: center;
    margin-top: 12px;

}

/*Activities section*/ 
.activities{
    font-size: 20px;
    background-color: #F1FAEE;
    color: #1D3557;
    text-align: center; 
    padding: 50px;  
}
.activities-title{
    margin-top: 0;
    padding-top: 20px;
}
.activities-content{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction:row;
    padding-top: 60px;
    
}
.activities-description{
    text-align: center;
    width: 300px;
}
.rounded-pics{
    width: 150px;
    border-radius: 100px;
}

/*Guide section*/
.guide{
    color: #1D3557;
    padding: 80px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.guide-content{
    background-color: #A8DADC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 40px 60px;

    border-bottom: 10px solid #1D3557;
    border-radius: 20px;
    
}
.guide-pic{
    width: 250px;
    border-radius: 20px;
}
.guide-text{
    width: 200px;
    text-align: center;    
}
